body {

   display: flex;
   font-family: Georgia, serif;
   font-size: 17px;
   color: black;

}
 /* not so sure about this section now */
h1,
h2,
h3  {

    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;

}

a {
  color: black;
}
  /* I was wrong in this next one, on add w and h */
.nav span {

      display: inline-block;
      padding: 20px 10px;
}

.stories {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

}

/* I was also wrong in the next one */
.logo {

      display: flex;
      align-items: center;
      padding-left: 30px;

}


 span {

    list-style-type: none;
    margin: 0;
    padding: 0;


}
