body {
   margin: 0;
   font-family: Georgia, serif;
   font-size: 17px;
   color: black;

}
 /* not so sure about this section now */
h1,
h2,
h3  {

    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;

}

a {
  color: black;
}
  /* I was wrong in this next one, on add w and h */
nav span {

      display: inline-block;
      padding: 20px 10px;

}

.stories {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

}

.stories .word-content {

      height: 200px;
}

.first-story {

      display: flex;
      flex-direction: column;
      width: 330px;
}

.narrative {

      margin-top: 10px;
}

.image-content {
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 320px;
       margin-top: 15px;
       font-weight: bold;
       font-size: 30px;
       color: white;
       text-align: center;

}

/*  Second try on header */

header {

      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      border-bottom: 1px solid black;
      background-color: white;
      font-family: Verdana, sans-serif;
      font-size: 14px;
      font-weight: bold;
      position: fixed;
      z-index: 1;

}

/* I was also wrong in the next one */
.logo {

      display: flex;
      align-items: center;
      padding-left: 30px;
      flex-grow: 1;

}

.logo img {

      width: 70px;
      height: 60px;
      margin-right: 10px;
}

.logo span {

     color: MediumAquamarine;
}

header nav {

       padding-right: 30px;
}

 /* Content main */

 .content {

       display: flex;
       width: 1200px;
       margin: 0 auto 60px auto;
       padding-top: 120px;
 }

.column {

       display: flex;
       flex-direction: column;
       margin-right: 30px;
 }

 /* News Column */
.column.large {
      width: 550px;

}
